/* General */
.crunch {
	margin:0 !important;
}
.crunch-top {
	margin-top:0 !important;
}
.crunch-bottom {
	margin-bottom:0 !important;
}
caption {
	font-weight:bold;
	padding-bottom:10px;
	font-size:18px;
}
.block-level {
	display:block;
}

.header {
	padding-bottom:2.5rem;
	margin-bottom:4rem;
	background-color:#F9F9F9;
}
.footer {
	background-color:#F9F9F9;
	padding:4rem 0;
	margin-top:4rem;
}
.floated-list li {
	float:left;
}
ul {
	margin:0;
}
.btn-full-width {
	width:100%;
	display:block;
	margin-top:15px
}
.dropdown-menu {
	min-width:100%;
	top:40px;
}
.dropdown-toggle {
	margin-top:0;
	margin-bottom:10px;
}
.ruled {
	border-bottom:dotted 1px #808080;
	padding-bottom:15px;
	margin-bottom:3rem;
}
.delete-button {
	position:absolute;
	top:5px;
	right:20px;
	color:#E74C3C;
}
.delete-button:hover {
	color:#e52410;
}


/* Index table list */
.task-list div {
	width:12%;
}
.task-list .standard {
	width:15%;
}
.task-list .long {
	width:34%;
}
.task-list .heading {
	border-bottom:solid 1px #ECF0F1;
	margin:0;
	padding:15px;
}
.task-list li {
	cursor:pointer;
}
.task-list li div {
	float:left;
}
.task-list a {
	padding:15px;
	display:block;
}
.list-striped > li:nth-child(2n+1) > a {
	background-color:#F9F9F9;
}
.list-striped > li > a:hover {
	background-color:#F5F5F5;
}

/*Index card list*/
.task-stats {
	margin-bottom:10px;
	font-size:2.2rem;
	line-height:2.2rem;
	font-weight:bold;
}
.task-stats li {
	width:32%;
	margin-right:2%;
}
.task-stats li a {
	display:block;
	padding:12px 0;
	text-align:center;
	color:#fff;
}
.task-stats li:last-child {
	margin-right:0;
}
.danger, .error {
	background-color:#E74C3C;
	color:#fff;
}
.warning {
	background-color:#F39C12;
	color:#fff;
}
.info, .notification {
	background-color:#3498DB;
	color:#fff;
}
.task-card .no-results {
	font-size:25px;
	line-height:37px;
	margin:26px 0;
}
.task-card .task-card-link {
	color:#808080;
	min-height:183px;
	margin-bottom:20px;
	display:block;
}
.task-card .delete-button {
	display:none;
}
.task-card:hover .delete-button {
	display:block;
}
.task-card .task-card-link:hover,
.task-card:hover .task-card-link
 {
	text-decoration: none;
	background-color:#e4e5e5;
}
.task-card .h3 {
	text-overflow:ellipsis;
	overflow:hidden;
	width:100%;
}
.task-card .task-stats li {
	padding:12px 0;
	text-align:center;
	color:#fff;
}
.supersize-me {
	text-align:center;
	font-size:112px;
	line-height:97px;
	font-weight:bold;
	color:#cacaca;
}

.other-tasks .ruled {
	margin-bottom:1.5rem;
}


/* Task details page */
.badge-danger {
	background-color:#E74C3C;
}
.badge-warning {
	background-color:#F39C12;
}
.badge-info {
	background-color:#3498DB;
}
.badge {
	border-radius:0.25em;
}
.label, .badge {
	display:inline-block;
	padding:10px;
	font-size:13px;
	text-transform: uppercase;
}
.rule-name .badge {
	padding:6px;
}
.tasks-list {
	padding:15px;
	margin-bottom:30px;
	border-width:3px;
	border-style:solid;
	border-radius: 3px;
}
.tasks-list li {
	margin-bottom:30px;
}
.tasks-list li:last-child {
	margin-bottom:0;
}
.tasks-list .rule-name {
	font-weight:bold;
	font-style:italic;
	word-wrap:break-word;
}
.task-danger {
	border-color:#E74C3C;
}
.task-warning {
	border-color:#F39C12;
}
.task-info {
	border-color:#3498DB;
}
.task-default {
	border-color:#95A5A6;
}
.heading {
	margin-bottom:10px;
}
.heading-badges {
	cursor:pointer;
}
.graph {
	height:300px;
	width:100%;
}
.graph-container {
	margin-bottom:5rem;
	padding-bottom:3rem;
}
.graph-table {
	margin-bottom:5rem;
}
.graph-table td {
	width:25%;
}
.action-buttons {
	margin-bottom:30px;
}
.date {
	margin-top:5px;
}
.task-header h2 {
	word-wrap:break-word;
}
.tooltip {
	text-transform:lowercase;
	text-align:center;
	padding:10px;
	background-color:#2C3E50;
	color:#fff;
	position: absolute;
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
.standards-lists {
	height:300px;
	overflow:hidden;
	overflow-y:auto;
	margin-bottom:15px;
	border-bottom:solid 1px #e5e5e5;
}
.series-checkboxes {
	margin-top:15px;
}
.series-checkboxes li {
	padding:2px 10px;
	border-right:solid 5px #fff;
}
.btn-reset {
	margin-top:-24px;
	margin-right:35px
}

/* No javascript */
.no-javascript .graph-container {
	display:none;
}
.no-javascript .hidden {
	display:block !important;
	visibility:visible !important;
}
.no-javascript table.hidden {
	display:table !important;
}
.no-javascript .collapse {
	display:block;
}

/* Media queries */
@media (max-width:991px) {
	h1 {
		font-size:32px;
	}
	h2 {
		font-size:28px;
	}
	.header {
		margin-bottom:2rem;
		padding-bottom:1rem;
	}
	.task-header .run-details {
		text-align:left;
	}
	.task-header .btn {
		padding:5px 10px;
		font-size:12px;
		line-height:1.5rem;
	}
	.task-header h2 {
		margin-bottom:3px;
	}
	.date {
		margin-top:2px;
	}
	.action-buttons button {
		width:49%;
		margin-right:2%;
		float:left;
	}
	.action-buttons button:last-child {
		margin-right:0;
	}
}
@media (max-width:640px) {
	body {
		font-size:14px;
	}
	h1 {
		font-size:26px;
	}
	h2 {
		font-size:24px;
	}
	.action-buttons button {
		width:100%;
		margin-right:0;
		float:none;
	}
	.label, .badge {
		font-size:11px;
		padding:7px;
	}
	.rule-name .badge {
		padding:3px;
	}
	.graph {
		margin-bottom:3rem;
	}
	.btn-full-width {
		margin-top:8px;
	}
}
@media (max-width:360px) {
	.task-stats li a {
		padding:8px 0;
	}
}