{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="col-md-12 clearfix">
	<div class="graph-container graph-spacer ruled clearfix">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-3">
				<button class="btn btn-sm btn-default btn-full-width btn_action_export" type="button">Export graph</button>
			</div>
			<div class="col-md-5 col-sm-6 col-xs-9 pull-right">
				<ul class="list-unstyled floated-list series-checkboxes clearfix" data-role="series-checkboxes"></ul>
			</div>
		</div>
		<div data-role="graph" class="graph"></div>
		<div class="dashedLegend">
			<div class="dashedContainer">
				<table>
					<tbody>
						<tr>
							<td class="legendColorBox">
								<div class="clearfix legendIcon legendErrors">
									<div></div>
								</div>
							</td>
							<td class="legendLabel">Errors</td>
						</tr>
						<tr>
							<td class="legendColorBox">
								<div class="clearfix legendIcon legendWarnings">
									<div></div><div></div>
								</div>
							</td>
							<td class="legendLabel">Warnings</td>
						</tr>
						<tr>
							<td class="legendColorBox">
								<div class="clearfix legendIcon legendNotices">
									<div></div><div></div><div></div>
								</div>
							</td>
							<td class="legendLabel">Notices</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<button data-role='zoom-reset' class="btn btn-xs btn-primary pull-right btn-reset hidden">Reset Zoom <i class="glyphicon glyphicon-zoom-out"></i></button>
		
	</div>

	<div class="col-md-12 hidden">
		<div class="graph-spacer ruled">
			<table id="graph-data" class="table graph-table" summary="Accessibility results from Pa11y for this page">
				<caption>Pa11y results for this URL</caption>
				<thead>
					<tr>
						<th>Date</th>
						<th class="text-center">Errors</th>
						<th class="text-center">Warnings</th>
						<th class="text-center">Notices</th>
					</tr>
				</thead>
				<tbody>
				{{#results}}
					<tr data-role="url-stats">
						<td data-value="{{date-timestamp date}}" data-role="date">{{date-format date format="DD MMM YYYY"}}</td>
						<td class="text-center" data-label="error">{{count.error}}</td>
						<td class="text-center" data-label="warning">{{count.warning}}</td>
						<td class="text-center" data-label="notice">{{count.notice}}</td>
					</tr>
				{{/results}}
				</tbody>
			</table>
		</div>
	</div>
</div>