{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard. If not, see
<http: //www.gnu.org/licenses />.
}}
<header>
	<div role="banner" class="header">
		<div class="container">
			{{#if isHomePage}}<h1>{{else}}<div class="h1">{{/if}}
					<a href="/">Niche a11y Monitoring</a> -
					<span class="h3">keeping Niche accessible for all </span>
					{{#if isHomePage}}
			</h1>{{else}}
		</div>{{/if}}
		<hr>
		<div style="display:-webkit-flex; align-items:center; justify-content: center;">
			<div>
				<form action="/run-all/">
					<button class="custom-header-buttons" id='run-all-tasks-button' href="#" data-toggle="tooltip"
						title="Click to re-run all pages. Update takes about 20 seconds to complete"
						style="background-color: #bf1900; margin-right: 20px;">🔄 Update all pages 
					</button>
				</form>
			</div>
			<div>
				<a target="_blank" rel="noopener noreferrer" data-toggle="tooltip"
					title="Open the Niche Accessibility Hub in a new tab. Be sure to be connected to VPN!"
					href="https://bookstack.niche.team/books/accessibility-%28a11y%29/page/accessibility-hub">
					<button class="custom-header-buttons" id='hub-link-button' style="background-color: #00806F;">
						📂 Niche A11y Hub 
					</button>
				</a>
			</div>
		</div>
	</div>
	</div>
</header>