{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
<section class="col-md-12 zfix">
	<div class="ruled task-header">
		<div class="row clearfix">
			<div class="col-md-12">
				<h1 class="h2 crunch-top">{{task.name}}</h1>
				<p class="h4"><a href="{{task.url}}">{{simplify-url task.url}}</a><span class="h5"> ({{task.standard}})</span></p>
			</div>
			<div class="run-details task-header clearfix">
				<div class="col-md-12 clearfix">
					{{#unless readonly}}
						<nav aria-label="task tools">
							<ul class="inline-list">
								<li><a href="/{{task.id}}/edit">Edit this task</a></li>
								<li><a href="/{{task.id}}/delete">Delete this task</a></li>
								<li><a href="{{task.hrefRun}}" data-test="run-task">Run Pa11y</a></li>
							</ul>
						</nav>
					{{/unless}}
					{{#if mainResult}}
						<div class="date">Last run: <strong>{{date-format mainResult.date format="DD MMM YYYY"}}</strong></div>
					{{else}}
						<div class="date">Not yet run</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</section>
