<div class="col-md-12">
	<div class="ruled task-header">
		<div class="row clearfix">
			<div class="col-md-9 col-sm-9">
				<h1 class="h2 crunch-top">{{task.name}}</h1>
				<p class="h4">{{simplify-url task.url}}<span class="h5"> ({{task.standard}})</span></p>
			</div>
			<div class="col-md-3 col-sm-3 text-right run-details">
				<a href="{{task.hrefRun}}" class="btn btn-success">Run <span class="glyphicon glyphicon-play"></span></a>
				{{#if mainResult}}
					<div class="date">Last run : {{date-format mainResult.date format="DD MMM YYYY"}}</div>
				{{else}}
					<div class="date">Not yet run</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>