
<ul class="list-unstyled clearfix crunch-bottom">
	<li class="col-md-4 col-sm-6 task-card add-task">
		<a class="well task-card-link crunch-bottom" data-role="add-task" href="/new">
			<p class="h3 crunch">Add new URL</p>
			<p class="supersize-me crunch">+</p>
		</a>
	</li>
	{{#tasks}}
		<li class="col-md-4 col-sm-6 task-card">
			<a class="well task-card-link crunch-bottom" title="Details for URL {{simplify-url url}}" href="/{{id}}">
				<p class="h3">{{simplify-url url}}</p>
				<p class="h5">({{standard}})</p>
				{{#if last_result}}
				<ul class="clearfix list-unstyled floated-list task-stats">
					{{#last_result}}
						<li class="danger" title="Number of errors ({{count.error}})">{{count.error}}</li>
						<li class="warning" title="Number of warnings ({{count.warning}})">{{count.warning}}</li>
						<li class="info last" title="Number of notifications ({{count.notice}})">{{count.notice}}</li>
					{{/last_result}}
				</ul>
				Last run {{date-format last_result.date format="DD MMM YYYY"}}
				{{else}}
					<p class="no-results">No results</p>
				{{/if}}
			</a>
			<a title="Delete this URL" class="delete-button" href="/{{id}}/delete"><span class="sr-only">Delete </span><span class="glyphicon glyphicon-remove"></span></a>
		</li>
	{{/tasks}}
</ul>
