
{{#content "title"}}
    Delete {{task.url}} ({{task.standard}})
{{/content}}

<h1 class="crunch-top">Delete {{simplify-url task.url}}</h1>

<form class="panel panel-info" action="/{{task.id}}/delete" method="post">
    <div class="panel-heading">
    	<h3 class="panel-title">Are you sure you wish to delete this URL and associated results?</h3>
    </div>
    <div class="panel-body">
    	<p>{{task.url}} ({{task.standard}})</p>
    	{{simplify-url task.url}}
    </div>
    <div class="panel-footer">
	    <input class="btn btn-success" type="submit" value="Yes"/>
	    <a class="btn btn-primary" href="/">No (cancel)</a>
    </div>
</form>
