
{{#content "title"}}
    Delete {{task.url}} ({{task.standard}})
{{/content}}

<form class="col-md-12" action="{{task.hrefDelete}}" method="post">
	<div class="legend">
		<legend>Delete URL ({{simplify-url task.url}})</legend>
	</div>
	<p class="lead">Are you sure you wish to delete <strong>{{task.url}}</strong> <small>({{task.standard}})</small> and it's associated results?</p>
    <button class="btn btn-success" type="submit">Yes <span class="glyphicon glyphicon-ok"></span></button>
    <a class="btn btn-primary" href="/">No (cancel) <span class="glyphicon glyphicon-remove"></span></a>
</form>

