
{{#content "title"}}
	{{task.url}} ({{task.standard}})
{{/content}}

{{#added}}
	<div class="col-md-12 clearfix">
		<div class="alert alert-success">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<strong>Whoop whoop!</strong>
			<p>Your new URL has been added.</p>
		</div>
	</div>
{{/added}}

<div class="col-md-12">
	<div class="ruled task-header">
		<div class="row clearfix">
			<div class="col-md-10">
				<h2 class="crunch-top">{{simplify-url task.url}}</h2>
				<p class="h4">({{task.standard}})</p>
			</div>
			<div class="col-md-2 text-right run-details">
				<!-- ########### To be done ############## -->
				<button class="btn btn-success">Run <span class="glyphicon glyphicon-play"></span></button>
				{{#if lastResult}}
				<!-- ########################## -->
					<div class="date">Last run : {{date-format lastResult.date format="DD MMM YYYY"}}</div>
				{{else}}
					<div class="date">Not yet run</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>

{{#if results}}
	<div class="col-md-12 clearfix">
		<div class="graph-container ruled">
			<div data-role="graph" class="graph"></div>
			<ul class="list-unstyled floated-list series-checkboxes clearfix crunch-bottom" data-role="series-checkboxes"></ul>
			<button data-role='zoom-reset' class="btn btn-xs btn-primary pull-right btn-reset hidden">Reset Zoom <i class="glyphicon glyphicon-zoom-out"></i></button>
		</div>
	</div>

	<div class="col-md-12 hidden">
		{{> results-table}}
	</div>
{{/if}}

<div class="col-md-3 aside">
	{{#if results}}
		<div class="row">
			<div id="top" class="col-md-12 col-xs-6 dropdown-container">
				<h4 class="show-stats hidden">Select a date to show stats for</h4>
				<div class="btn-group block-level clearfix">
					<button data-toggle="dropdown" class="btn-full-width btn btn-primary dropdown-toggle" type="button">{{date-format lastResult.date format="DD MMM YYYY"}} <span class="glyphicon glyphicon-calendar"></span> <span class="caret"></span></button>
					<ul role="navigation" class="date-links list-group">
						<li><a class="list-group-item active" href="#">21 Sept 2013</a></li>
						{{#results}}
			          		<li><a class="list-group-item" href="#">{{date-format date format="DD MMM YYYY"}}</a></li>
			          	{{/results}}
			        </ul>
				</div>
			</div>
			<div class="col-md-12 col-xs-6">
				<ul data-role="task-list" class="clearfix list-unstyled floated-list task-stats">
					{{#lastResult}}
						<li class="danger"><a href="#errors" title="See errors">{{count.error}}</a></li>
						<li class="warning"><a href="#warnings" title="See warnings">{{count.warning}}</a></li>
						<li class="info last"><a href="#notices" title="See notices">{{count.notice}}</a></li>
					{{/lastResult}}
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="action-buttons clearfix">
				<div class="col-md-12 col-xs-6">
			        <a class="btn-full-width btn btn-default">Download CSV <span class="glyphicon glyphicon-download"></span></a>
				</div>
				<!-- ########### Functionality to be done ############## -->
				<div class="col-md-12 col-xs-6">
			        <a href="/{{task.id}}.json" target="_blank" class="btn-full-width btn btn-default">Download JSON <span class="glyphicon glyphicon-download"></span></a>
				</div>
				<!-- ##################### End ######################## -->
		    </div>
		</div>
	{{/if}}

	<!-- List of other URLs -->
    <div class="other-tasks well">
    	<h4 class="crunch-top ruled-sm">Your other tracked URLs</h4>
		<p>No other URLs</p>

    	<!-- ########### Functionality to be done ############# -->
        <ul class="list-unstyled crunch-bottom">
	        <li><a href="empty-task">rowanmanning.com</a></li>
	        <li><a href="task">nature.com</a></li>
        </ul>
        <!-- ##################### End ######################## -->
    </div>
</div>

<div class="col-md-9">
	{{#if results}}
		{{#if lastResult.count.error}}
			<div class="heading label-danger showing first" id="errors">
				<span data-role="expander" class="pull-right expander"> - </span>
				Errors ( {{lastResult.count.error}} )
			</div>
			<div class="task-danger tasks-list collapse clearfix in">
				
				<ul class="list-unstyled">
					{{#lastResult.errors}}
						<li>
							<p class="crunch rule-name">{{type}} : {{code}} <span class="badge">{{count}}</span></p>
							<p>{{message}}</p>
						</li>
					{{/lastResult.errors}}
				</ul>
				<a class="pull-right" href="#top" data-role="top">Back to top</a>
			</div>
		{{else}}
			<p class="heading label-danger" id="errors">Well done! You have 0 errors. <span class="glyphicon glyphicon-ok pull-right"></span></p>
		{{/if}}

		{{#if lastResult.count.warning}}
			<div class="heading label-warning" id="warnings">
				<span data-role="expander" class="pull-right expander"> + </span>
				Warnings ( {{lastResult.count.warning}} )
			</div>
			<div class="task-warning tasks-list collapse clearfix">
				<ul class="list-unstyled">
					{{#lastResult.warnings}}
						<li>
							<p class="crunch rule-name">{{type}} : {{code}} <span class="badge">{{count}}</span></p>
							<p>{{message}}</p>
						</li>
					{{/lastResult.warnings}}
				</ul>
				<a class="pull-right" href="#top" data-role="top">Back to top</a>
			</div>

		{{else}}
			<p class="heading label-warning" id="warnings">Well done! You have 0 warnings. <span class="glyphicon glyphicon-ok pull-right"></span></p>
		{{/if}}

		{{#if lastResult.count.notice}}
			<div class="heading label-info" id="notices">
				<span data-role="expander" class="pull-right expander"> + </span>
				Notices ( {{lastResult.count.notice}} )
			</div>
			<div class="task-info tasks-list collapse clearfix">
				<ul class="list-unstyled">
					{{#lastResult.notices}}
						<li>
							<p class="crunch rule-name">{{type}} : {{code}} <span class="badge">{{count}}</span></p>
							<p>{{message}}</p>
						</li>
					{{/lastResult.notices}}
				</ul>
				<a class="pull-right" href="#top" data-role="top">Back to top</a>
			</div>
		{{else}}
			<p class="heading label-warning" id="notices">Well done! You have 0 notices. <span class="glyphicon glyphicon-ok pull-right"></span></p>
		{{/if}}

		<div class="heading label-default">
			<span data-role="expander" class="pull-right expander"> + </span>
			Ignored Rules
		</div>
		<div class="task-default tasks-list collapse clearfix">
			<ul class="list-unstyled">
			    {{#task.ignore}}
			        <li>
			        	<p class="crunch rule-name">{{.}}</p>
					</li>
			    {{/task.ignore}}
			</ul>
			<a class="pull-right" href="#top" data-role="top">Back to top</a>
		</div>

	{{else}}
		<div class="alert alert-info">
			<h4>There are no results to show</h4>
			<p>pa11y has not been run against this URL yet so there are no results to show.</p>
			<p>To run pa11y for this URL now <a href="">click here</a></p>
		</div>
	{{/if}}
</div>

