
{{#content "title"}}
	{{task.url}} ({{task.standard}})
{{/content}}

{{#added}}
	<div class="col-md-12 clearfix">
		<div class="alert alert-success">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<strong>Whoop whoop!</strong>
			<p>Your new URL has been added.</p>
		</div>
	</div>
{{/added}}

{{> task-header}}

{{#if results}}
	
	{{> graph}}	

	{{> result-selector}}

{{/if}}

{{#if mainResult}}
	{{> result}}
{{else}}
	<div class="col-md-12">
		<div class="alert alert-info">
			<h4>There are no results to show</h4>
			<p>pa11y has not been run against this URL yet so there are no results to show.</p>
			<!-- <p>To run pa11y for this URL now <a href="">click here</a></p> -->
		</div>
	</div>
{{/if}}