<!DOCTYPE html>
<html lang="{{lang}}" class="no-javascript">
<head>

	<script>
		document.documentElement.className = document.documentElement.className.replace('no-javascript', 'javascript');
	</script>
	<meta charset="utf-8"/>
	<title>{{block "title"}}</title>
	<meta name="description" content="{{block "description"}}"/>

	<link rel="icon" type="image/png" href="favicon.png" />

	<!-- For mobile devices. -->
	<meta name="viewport" content="width=device-width"/>

	<link rel="stylesheet" href="/css/main.css"/>

</head>
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if IE 8]><body class="ie8"><![endif]-->
<!--[if IE 9]><body class="ie9"><![endif]-->
<!--[if !IE]>-->
<body>
<!--<![endif]-->

	{{> page-header}}

	{{> breadcrumb}}

	<div class="container">
		<div class="row">
			<section>
				<div class="section" role="main">
					{{{body}}}
				</div>
			</section>
		</div>
	</div>

	{{> page-footer}}

	<script type="text/javascript" src="/js/site.min.js"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/vendor/flot/excanvas.min.js"></script><![endif]-->

</body>
</html>