{{! 
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="col-md-8">
	<h1>Hmmm, this page indicates a 404 error.</h1>
	<p class="h2">That is techy babble for "We couldn't find the page you were looking for".</h2>
	<p class="h3">Maybe the link you clicked on was wrong or maybe, just maybe you typed it in wrong. Maybe.</h3>
	<p class="h4">Give it another go or try the <a href="/">home page</a>.</h4>
</div>
<div class="col-md-4">
	<div class="well well-lg">
		<p class="h2 text-center">Accessibility Score</p>
		<p class="supersize-me">0</p>
	</div>
</div>