{{! 
This file is part of pa11y-dashboard.

pa11y-dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

pa11y-dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with pa11y-dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="col-md-8">
	<h1>Eeek! 500 error. This is serious.</h1>
	<p class="h2">There isn't much you can do about this.</h2>
	<p class="h4">Give it another go or try the <a href="/">home page</a>.</h4>
	{{#if error}}
		<h2>Stack-Trace</h2>
		<pre>{{error.stack}}</pre>
	{{/if}}
</div>
<div class="col-md-4">
	<div class="well well-lg">
		<p class="h2 text-center">Server Error Score</p>
		<p class="supersize-me">lots</p>
	</div>
</div>