{{#content "title"}}pa11y-dashboard{{/content}}

{{#if siteMessage}}
    <div class="col-md-12 clearfix">
        <div class="alert alert-info">
            <p>{{siteMessage}}</p>
        </div>
    </div>
{{/if}}

{{#deleted}}
    <div class="col-md-12 clearfix">
        <div class="alert alert-info">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <strong>Bye Bye URL</strong>
            <p>The URL you selected and its associated results have been deleted.</p>
        </div>
    </div>
{{/deleted}}

{{> tasks}}
