{{!
This file is part of Pa11y Dashboard.

Pa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#content "title"}}Pa11y Dashboard{{/content}}

<div data-control="task-list">

  <div class="clearfix">
    <div class="col-md-6 col-md-offset-3 filter-toggle no-js-hide text-center">
      <label for="task-filter" class="filter-trigger" data-toggle="collapse" data-target="#filter-input">Filter<span class="glyphicon glyphicon-filter"></span>
      </label>
      <div id="filter-input" class="collapse">
        <input class="form-control" id="task-filter" type="text" data-role="input" placeholder="Type filter term (name or standard)"/>
      </div>
    </div>
  </div>

  {{#if siteMessage}}
      <div class="col-md-12 clearfix" data-test="alert">
          <div class="alert alert-info site-message">
              <h3 class="crunch-top"><span class="pull-left glyphicon glyphicon-exclamation-sign"></span> Important</h3>
              <p class="h5">{{siteMessage}}</p>
          </div>
      </div>
  {{/if}}

  {{#deleted}}
      <div class="col-md-12 clearfix" data-test="alert">
          <div class="alert alert-info">
              <button data-dismiss="alert" class="close" type="button" aria-label="Close">×</button>
              <strong>Bye Bye URL</strong>
              <p>The URL you selected and its associated results have been deleted.</p>
          </div>
      </div>
  {{/deleted}}

  {{> tasks}}

</div>
