
{{#content "title"}}
	Add a new url
{{/content}}

<form class="col-md-12 col-xs-" action="/new" method="post">

	<legend>Add a new url</legend>

	{{#error}}
		<div style="color: #c00;">
			<p>{{.}}</p>
		</div>
	{{/error}}

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-8">
				<label class="control-label" for="new-task-url">URL</label>
				<input class="form-control" id="new-task-url" type="url" placeholder="URL" name="url" value="{{task.url}}"/>
			</div>
		</div>
	</div>

	<div class="form-group clearfix">
		<div class="row">
			<div class="col-md-4">
				<label class="control-label" for="new-task-standard">Standard</label>
				<select data-role="new-task-select" class="form-control" id="new-task-standard" name="standard">
					<option value="">Select a standard</option>
					{{#standards}}
						<option {{#selected}}selected{{/selected}}>{{title}}</option>
					{{/standards}}
				</select>
			</div>
		</div>
	</div>

	<p class="control-label"><b>Ignore these rules</b> <a target="_blank" href="https://github.com/nature/pa11y/wiki/HTML-CodeSniffer-Rules">(full list of rules here)</a></p>

	<div class="standards-lists">
		{{#standards}}
			<div data-role="standards-list" data-attr="{{title}}" class="form-group">
				<p class="control-label"><b>{{title}} Rules</b></p>
				<ul class="list-unstyled">
					{{#rules}}
						<li>
							<label>
								<input type="checkbox" name="ignore[]" value="{{name}}" {{#ignored}}checked{{/ignored}}/>
								{{name}}
							</label>
						</li>
					{{/rules}}
				</ul>
			</div>
		{{/standards}}
	</div>

	<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add url </button>

</form>
