
{{#content "title"}}
	Create A Task
{{/content}}

<a href="/">&laquo; all tasks</a>

<h1>Create A Task</h1>

<form action="/new" method="post">

	{{#error}}
		<div style="color: #c00;">
			<p>{{.}}</p>
		</div>
	{{/error}}

	<div>
		<label for="new-task-url">URL</label><br/>
		<input id="new-task-url" type="text" name="url" value="{{task.url}}"/>
	</div>

	<div>
		<label for="new-task-standard">Standard</label><br/>
		<select id="new-task-standard" name="standard">
			<option value="">Select a standard</option>
			{{#standards}}
				<option {{#selected}}selected{{/selected}}>{{title}}</option>
			{{/standards}}
		</select>
	</div>

	<div>
		Ignore Rules<br/>
		{{#standards}}
			<b>{{title}}</b>
			<ul>
				{{#rules}}
					<li>
						<label>
							<input type="checkbox" name="ignore[]" value="{{name}}" {{#ignored}}checked{{/ignored}}/>
							{{name}}
						</label>
					</li>
				{{/rules}}
			</ul>
		{{/standards}}
	</div>

	<div>
		<input type="submit" value="Add"/>
	</div>

</form>
